extends layout
block head
  title Welcome to the #{network} Web Store
  link(rel="stylesheet", href="/css/index.css")
  script(src="/js/index.js")


block body
  .title
    h1(align='center') Welcome to the #{network} Web Store Manager
  .container-fluid
    .row-fluid
        include navigator
    .row-fluid
      .span2
        ul.nav.nav-tabs.nav-stacked.span2.affix
          for category in categories
            if (category.subcategories.length > 0 )
              .accordion(id='accordion#{category.id}')
                .accordion-group
                  .accordion-heading
                    li
                      a.accordion-toggle(href='#subCategory2', data-toggle='collapse', data-parent='#accordion#{category.id}', id='#{category.id}', assetcount='#{category.pages}')
                        img(src='#{category.image}')
                        | #{category.name}
                  .accordion-body.collapse(id='subCategory#{category.id}')
                    .accordion-inner
                      for subCategory in category.subcategories
                          li
                            a(href='#', id='#{subCategory.id}', assetcount='#{subCategory.pages}')
                              img(src='#{subCategory.image}')
                              | #{subCategory.name}
            else
              li
                a(href='#', id='#{category.id}', assetcount='#{category.pages}')
                  img(src='#{category.image}')
                  | #{category.name}



      .span10
        .row-fluid.show-grid(id='separator-thumbnail')
            ul.thumbnails
              li.span4(id='thumbnail-template')
                .thumbnail(data-toggle='modal', align='center')
                  p Name
                  img
                .modal.hide.fade(id='modalId_', tabindex=-1, role='dialog', align='center')
                  .modal-header
                    h3 header
                  .modal-body
                    img(id='modalImageId_') Image Here
                    h2(id='modalNameId_')Name
                    p Free TODO CHANGE THAT WITH REAL DATA
                    p
                    h2 Download MAKE THAT A REAL BUTTON WITH REAL DATA
                    p(id='modalAuthorId_') Author:
                    p(id='modalVersionId_') Version:
                    p(id='modalLicenseId_') License:
        .pagination.pagination-centered
          ul
            li(id='Prev')
              a(href='#') Prev
            li.active(id='pageId_1')
              a(href='#') 1
            li(id='Next')
              a(href='#') Next
